body {
	background-color: #ffffff;
	background-image: url(images/dcbackground.jpg);
	font-family: Veranda, Arial, san-serif;
	color: #000000;
}
a {
	text-decoration: none;
	color: #000000;
}
nav {
	background-color: #ffffff;
	word-spacing: auto;
}
nav a {
	color: #000000;
	font-size: large;
	padding-right: 10px;
	padding-left: 10px;
}
nav li.active {
	text-decoration: underline;
}
nav ul {
	list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
}
nav li {
	display: inline;
}
main {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 50%;
}
header {
	background-color: white;
}
footer {
	text-align: center;
	clear: both;
	border-top: 1px solid orange
}
h1 {
	padding: 5px;
	background-color: #f4b642;
}
h2 {
	margin: auto;
}
h2 ul {
	list-style-type: none;
	line-height: 1.5;
}
p {
	line-height: 2.5;
	margin: auto;
}
.profilepic{
	float: right;	
}
#icon {
	background-image: url(images/iconkey.jpg);
	background-repeat: no-repeat;
	height: 50px;
	width: 400px;
}
#profile1 {
	background-image: url(images/selfimage.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 245px;
	width: 200px;
	margin: 15px 15px 15px 15px;
}
#indextext ul {
	font-size: 30px;
	list-style-type: none;
	margin: auto;
	float: left;
}
#fluffydog {
	background-image: url(images/fluffdogo.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 180px;
	width: 240px;
	margin: 15px 15px 15px 15px;
}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 768px) {
	#indextext ul {
		font-size: 1em;
		margin: 0;
		padding: 0;
	}
	p {
		font-size: 1em;
	}
	#profile1 {
		display: none;
	}
	.profilepic{
		display: none;	
	}
	#fluffydog {
		display: none;
	}
	h1 {
		font-size: 1.3em;
	}
	footer {
		padding: 0;
		margin: 0;
	}
}
